@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: Fira Code, sans-serif;
  --primary-1: #01080E;
  --primary-2: #011e36;
  --secondary-1: #607B96;
  --secondary-2: #3C9D93;
  --secondary-3: #4D5BCE;
  --secondary-4: #FFFFFF;
  --accent-1: #FEA55F;
  --accent-2: #43D9AD;
  --accent-3: #E99287;
  --accent-4: #C98BDF;
  --lines-color: #293a4d;
}

.primary-bg-2 {
  background-color: var(--primary-2);
}

.secondary-1 {
  color: #607B96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  color: var(--primary-1);
  background-color: var(--accent-1);
}

.btn-primary:hover {
  transition: background-color 0.5s;
  background-color: #FFAC6B;
}

.btn-default {
  color: var(--secondary-4);
  background-color: #1C2B3A;
}

.btn-default:hover {
  transition: background-color 0.5s;
  background-color: #263B50;
}

.btn-ghost {
  color: var(--secondary-4)
}

.btn-ghost:hover {
  border: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--primary-2);
  font-family: 'Fira Code',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

bold {
  font: inherit
}